<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
</head>

<body>

<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h2>Message : <span th:utext="${message}"></span></h2>
<purchase-app>Загрузка...</purchase-app>

<script src="/webjars/client/1.0.0/polyfills.js"></script>
<script src="/webjars/client/1.0.0/app.js"></script>



</body>
</html>